absl-py==2.1.0
accelerate==0.34.2
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
alabaster==0.7.12
altair==5.3.0
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
anls==0.0.2
annotated-types==0.7.0
anyio==4.4.0
argh==0.26.2
asn1crypto==1.3.0
astroid @ file:///tmp/build/80754af9/astroid_1592495912941/work
astropy==4.0.1.post1
async-timeout==4.0.3
atomicwrites==1.4.0
attrs==19.3.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1592412889138/work
Babel==2.8.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.9.1
bitarray @ file:///tmp/build/80754af9/bitarray_1594753876414/work
bitsandbytes==0.42.0
bkcharts==0.2
bleach==3.1.5
bokeh @ file:///tmp/build/80754af9/bokeh_1593187602660/work
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==5.3.3
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
charset-normalizer==3.3.2
ci-info==0.3.0
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1594141588948/work
clyent==1.2.2
cmake==3.30.0
colorama==0.4.3
conda==4.8.3
conda-build==3.18.11
conda-package-handling==1.7.0
conda-verify==3.4.2
configobj==5.0.8
configparser==7.0.0
contextlib2==0.6.0.post1
cryptography==2.9.2
cycler==0.10.0
Cython @ file:///tmp/build/80754af9/cython_1594831566883/work
cytoolz==0.10.1
dask @ file:///tmp/build/80754af9/dask-core_1594156306305/work
datasets==2.18.0
decorator==4.4.2
deepspeed==0.14.4
defusedxml==0.6.0
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
dill==0.3.8
distributed @ file:///tmp/build/80754af9/distributed_1594750293818/work
distro==1.9.0
dnspython==2.6.1
docker-pycreds==0.4.0
docutils==0.16
einops==0.6.1
einops-exts==0.0.4
email-validator==2.2.0
entrypoints==0.3
et-xmlfile==1.0.1
etelemetry==0.3.1
exceptiongroup==1.2.1
fastapi==0.111.0
fastapi-cli==0.0.4
fastcache==1.1.0
ffmpy==0.3.2
filelock==3.0.12
fitz==0.0.1.dev2
flake8==3.8.3
flash-attn==2.5.9.post1
Flask==1.1.2
frozenlist==1.4.1
fsspec==2024.2.0
future==0.18.2
gevent @ file:///tmp/build/80754af9/gevent_1593009537125/work
gitdb==4.0.11
GitPython==3.1.43
glob2==0.7
gmpy2==2.0.8
google-auth==2.32.0
google-auth-oauthlib==1.0.0
gradio==4.16.0
gradio-client==0.8.1
greenlet==0.4.16
grpcio==1.65.0
h11==0.14.0
h5py==2.10.0
HeapDict==1.0.1
hjson==3.1.0
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
httpcore==0.17.3
httplib2==0.22.0
httpx==0.24.0
huggingface-hub==0.23.4
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
importlib-metadata==8.0.0
importlib-resources==6.4.0
intervaltree @ file:///tmp/build/80754af9/intervaltree_1594361675072/work
ipykernel @ file:///tmp/build/80754af9/ipykernel_1594753368510/work/dist/ipykernel-5.3.2-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1593447377063/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///tmp/build/80754af9/jedi_1592841866100/work
jeepney==0.4.3
jinja2==3.1.4
joblib==1.4.2
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.5
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
keyring @ file:///tmp/build/80754af9/keyring_1593109721646/work
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
linkify-it-py==2.0.3
lit==18.1.8
llava @ git+https://github.com/haotian-liu/LLaVA.git@c121f0432da27facab705978f83c4ada465e46fd
llvmlite==0.33.0+1.g022ab0f
locket==0.2.0
looseversion==1.3.0
lxml @ file:///tmp/build/80754af9/lxml_1594826779415/work
Markdown==3.6
markdown-it-py==3.0.0
markdown2==2.4.13
MarkupSafe==2.1.5
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1592846008246/work
mccabe==0.6.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools==8.4.0
mpmath==1.1.0
msgpack==1.0.0
multidict==6.0.5
multipledispatch==0.6.0
multiprocess==0.70.16
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.7
networkx @ file:///tmp/build/80754af9/networkx_1594377231366/work
nibabel==5.2.1
ninja==1.11.1.1
nipype==1.8.6
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose==1.3.7
notebook==6.0.3
numba==0.50.1
numexpr==2.7.1
numpy==1.18.5
numpydoc @ file:///tmp/build/80754af9/numpydoc_1594166760263/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.555.43
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile==0.46
openai==1.35.13
opencv-python-headless==4.10.0.84
openpyxl @ file:///tmp/build/80754af9/openpyxl_1594167385094/work
orjson==3.10.6
packaging==24.0
pandas @ file:///tmp/build/80754af9/pandas_1592841659173/work
pandocfilters==1.4.2
parso==0.7.0
partd==1.1.0
path==13.1.0
pathlib==1.0.1
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
peft==0.4.0
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.4.0
pkginfo==1.5.0.1
platformdirs==4.2.2
pluggy==0.13.1
ply==3.11
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==5.27.2
prov==2.0.1
psutil==5.7.0
ptyprocess==0.6.0
py @ file:///tmp/build/80754af9/py_1593446248552/work
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1-modules==0.4.0
pyclipper==1.3.0.post5
pycocoevalcap==1.2
pycocotools==2.0.7
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycurl==7.43.0.5
pydantic==1.10.17
pydantic-core==2.20.1
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1592848020240/work
pydot==3.0.1
pydub==0.25.1
pyflakes==2.2.0
pygments==2.18.0
pyheif==0.7.1
pylint @ file:///tmp/build/80754af9/pylint_1592496053748/work
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
pytesseract==0.3.10
pytest==5.4.3
python-dateutil==2.8.1
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1594397536060/work
python-language-server @ file:///tmp/build/80754af9/python-language-server_1594161909948/work
python-multipart==0.0.9
pytz==2020.1
PyWavelets==1.1.1
pyxdg==0.26
pyxnat==1.6.2
PyYAML==5.3.1
pyzmq==19.0.1
QDarkStyle==2.8.1
QtAwesome==0.7.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy==1.9.0
rdflib==7.0.0
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.7.1
rope==0.17.0
rsa==4.9
Rtree==0.9.4
ruamel-yaml==0.15.87
ruff==0.5.1
safetensors==0.4.3
scikit-image==0.16.2
scikit-learn==1.2.2
scipy @ file:///tmp/build/80754af9/scipy_1592930511789/work
seaborn==0.10.1
SecretStorage==3.1.2
semantic-version==2.10.0
Send2Trash==1.5.0
sentencepiece==0.1.99
sentry-sdk==2.9.0
setproctitle==1.3.3
shellingham==1.5.4
shortuuid==1.0.13
simplegeneric==0.8.1
simplejson==3.19.2
singledispatch==3.4.0.3
sip==4.19.13
six==1.15.0
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1594223420021/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1593446360927/work
spyder @ file:///tmp/build/80754af9/spyder_1594832131358/work
spyder-kernels @ file:///tmp/build/80754af9/spyder-kernels_1594751551963/work
SQLAlchemy @ file:///tmp/build/80754af9/sqlalchemy_1593446299926/work
starlette==0.37.2
statsmodels==0.11.1
svgwrite==1.4.3
sympy @ file:///tmp/build/80754af9/sympy_1594236545715/work
tables==3.6.1
tblib==1.6.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
terminado==0.8.3
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
timm==1.0.9
tokenizers==0.20.1
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tomlkit==0.12.0
toolz==0.10.0
torch==2.1.2
torchaudio==2.3.1
torchvision==0.16.2
tornado==6.0.4
tqdm==4.66.4
traitlets==4.3.3
traits==6.3.2
transformers==4.46.0
triton==2.1.0
typer==0.12.3
typing-extensions==4.10.0
uc-micro-py==1.0.3
ujson==5.10.0
unicodecsv==0.14.1
urllib3==1.25.9
uvicorn==0.30.1
wandb==0.17.4
watchdog @ file:///tmp/build/80754af9/watchdog_1593447344699/work
wavedrom==2.0.3.post3
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websockets==11.0.3
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer @ file:///tmp/build/80754af9/wurlitzer_1594753850195/work
xlrd==1.2.0
XlsxWriter==1.2.9
xlwt==1.3.0
xmltodict==0.12.0
xxhash==3.4.1
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
yarl==1.9.4
zict==2.0.0
zipp==3.1.0
zope.event==4.4
zope.interface==4.7.1
